<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">

	<!-- Main content -->
	<section class="content">
        <section class="invoice">


	<?php if($_GET['report'] == "timesheet") { ?>

		<div class="row"><div class="col-xs-12"><h2 class="page-header"><i class="fa fa-globe"></i> <?php echo getConfigValue("company_name"); ?><small class="pull-right"><?php _e('Date:'); ?> <?php echo date('Y-m-d'); ?></small></h2></div></div>
		<div class="row">
			<div class="col-xs-6"><h4><b><?php _e('TIMESHEET'); ?></b></h4></div>
			<div class="col-xs-6 text-right">
				<?php if(isset($_GET['clientid']) && $_GET['clientid'] != 0) echo "<h4>".__("Client")." <b>".getSingleValue("clients","name",$_GET['clientid'])."</b></h4>"; ?>
				<?php if(isset($_GET['startDate']) && isset($_GET['endDate'])) echo "<h4>".__("Date range")." <b>".$_GET['startDate']." - ".$_GET['endDate']."</b></h4>"; ?>
			</div>
		</div>
		<br>

		<div class="row">

			<div class="col-xs-12 table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th colspan="7"><span class="lead"><b><?php _e('TIME LOG'); ?></b></span></th>
						</tr>
						<tr>
							<th><?php _e('Client'); ?></th>
							<th><?php _e('Asset'); ?></th>
							<th><?php _e('Project'); ?></th>
							<th><?php _e('Staff'); ?></th>
							<th><?php _e('Date & Time'); ?></th>
							<th><?php _e('Duration'); ?></th>
							<th><?php _e('Tagged Items'); ?></th>
						</tr>
					</thead>
					<tbody>
						<?php $totalsecs = 0; $totalissues = 0; $totaltickets = 0; ?>
						<?php foreach($timelog as $item) { ?>
							<?php
							  $tag_issues = unserialize($item['issues']);
							  $tag_tickets = unserialize($item['tickets']);

							  if(empty($tag_issues)) $tag_issues = [];
							  if(empty($tag_tickets)) $tag_tickets = [];
							?>
						<tr>

							<td><?php echo getSingleValue("clients","name",$item['clientid']); ?></td>
							<td><?php echo getSingleValue("assets","tag",$item['assetid']); ?><br><?php echo getSingleValue("assets","name",$item['assetid']); ?></td>
							<td><?php echo getSingleValue("projects","tag",$item['projectid']); ?><br><?php echo getSingleValue("projects","name",$item['projectid']); ?></td>
							<td><?php echo getSingleValue("people","name",$item['staffid']); ?></td>
							<td><?php echo dateDisplay($item['date']); ?> <?php echo $item['start']; ?> <i class='fa fa-long-arrow-right'></i> <?php echo $item['end']; ?></td>
							<td>
								<?php
									$currentduration = duration($item['date'], $item['start'], $item['end']);
									$totalsecs = $totalsecs + $currentduration;
								 ?>
								<?php echo secondsToTime($currentduration); ?>
							</td>

							<td>
								<?php foreach($tag_issues as $tag_issue) { $totalissues++; ?>
								  <i class='fa fa-tasks fa-fw'></i> <?php echo getSingleValue("issues", "name", $tag_issue); ?><br>
								<?php } ?>
								<?php foreach($tag_tickets as $tag_ticket) { $totaltickets++; ?>
								  <i class='fa fa-ticket fa-fw'></i> <?php echo getSingleValue("tickets", "ticket", $tag_ticket); ?> <?php echo getSingleValue("tickets", "subject", $tag_ticket); ?><br>
								<?php } ?>
							</td>

							<td><?php echo $item['description']; ?></td>

						</tr>
						<?php } ?>
					</tbody>
					<tfoot>
						<tr>
							<th colspan="5"><?php _e('Totals'); ?></th>
							<th><?php echo secondsToTime($totalsecs); ?> </th>
							<th><?php echo $totalissues; ?> <?php _e('Issues'); ?>, <?php echo $totaltickets; ?> <?php _e('Tickets'); ?></th>
						</tr>
					</tfoot>
				</table>
		  </div>

			<div class="col-xs-12 table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th colspan="8"><span class="lead"><b><?php _e('ISSUES'); ?></b></span></th>
						</tr>
						<tr>
							<th><?php _e('ID'); ?></th>
							<th><?php _e('Client'); ?></th>
							<th><?php _e('Asset'); ?></th>
							<th><?php _e('Project'); ?></th>
							<th><?php _e('Owner'); ?></th>
							<th><?php _e('Name'); ?></th>
							<th><?php _e('Status'); ?></th>
							<th><?php _e('Date Added'); ?></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($issues as $task) { ?>
						<tr>
							<td><?php echo $task['id']; ?></td>
							<td><?php echo getSingleValue("clients","name",$task['clientid']); ?></td>
							<td><?php echo getSingleValue("assets","tag",$task['assetid']); ?><br><?php echo getSingleValue("assets","name",$task['assetid']); ?></td>
							<td><?php echo getSingleValue("projects","tag",$task['projectid']); ?><br><?php echo getSingleValue("projects","name",$task['projectid']); ?></td>
							<td><?php echo getSingleValue("people","name",$task['adminid']); ?></td>
							<td><?php echo $task['name']; ?></td>
							<td><?php echo $task['status']; ?></td>
							<td><?php echo dateTimeDisplay($task['dateadded']); ?></td>
						</tr>
						<?php } ?>
					</tbody>
				</table>
		  </div>
		  <div class="col-xs-12 table-responsive">
			  <table class="table table-striped table-bordered">
				  <thead>
					  <tr>
						  <th colspan="8"><span class="lead"><b><?php _e('TICKETS'); ?></b></span></th>
					  </tr>
					  <tr>
						  <th><?php _e('Ticket'); ?></th>
						  <th><?php _e('Client'); ?></th>
						  <th><?php _e('Asset'); ?></th>
						  <th><?php _e('Project'); ?></th>
						  <th><?php _e('Owner'); ?></th>
						  <th><?php _e('Subject'); ?></th>
						  <th><?php _e('Status'); ?></th>
						  <th><?php _e('Date Added'); ?></th>
					  </tr>
				  </thead>
				  <tbody>
					  <?php foreach($tickets as $ticket) { ?>
					  <tr>
						  <td>#<?php echo $ticket['ticket']; ?></td>

						  <td><?php echo getSingleValue("clients","name",$ticket['clientid']); ?></td>
						  <td><?php echo getSingleValue("assets","tag",$ticket['assetid']); ?><br><?php echo getSingleValue("assets","name",$ticket['assetid']); ?></td>
						  <td><?php echo getSingleValue("projects","tag",$ticket['projectid']); ?><br><?php echo getSingleValue("projects","name",$ticket['projectid']); ?></td>
						  <td><?php echo getSingleValue("people","name",$ticket['adminid']); ?></td>
						  <td><?php echo $ticket['subject']; ?></td>
						  <td><?php echo $ticket['status']; ?></td>
						  <td><?php echo dateTimeDisplay($ticket['timestamp']); ?></td>
					  </tr>
					  <?php } ?>
				  </tbody>
			  </table>
		</div>
		</div>

		<!-- this row will not appear when printing -->
		<div class="row no-print">
          <div class="col-xs-12">
            <button onClick="window.print();" class="btn btn-default pull-right"><i class="fa fa-print"></i> <?php _e('Print'); ?></button>
          </div>
        </div>


	<?php } elseif($_GET['report'] == "ticketsReport") { ?>


		<div class="row"><div class="col-xs-12"><h2 class="page-header"><i class="fa fa-globe"></i> <?php echo getConfigValue("company_name"); ?><small class="pull-right"><?php _e('Date:'); ?> <?php echo date('Y-m-d'); ?></small></h2></div></div>
		<div class="row">
			<div class="col-xs-6"><h4><b><?php _e('TICKETS REPORT'); ?></b></h4></div>
			<div class="col-xs-6 text-right">
				<?php if(isset($_GET['clientid']) && $_GET['clientid'] != 0) echo "<h4>".__("Client")." <b>".getSingleValue("clients","name",$_GET['clientid'])."</b></h4>"; ?>
				<?php if(isset($_GET['startDate']) && isset($_GET['endDate'])) echo "<h4>".__("Date range")." <b>".$_GET['startDate']." - ".$_GET['endDate']."</b></h4>"; ?>
			</div>
		</div>
		<br>

		<div class="row">



		  <div class="col-xs-12 table-responsive">
			  <table class="table table-striped table-bordered">
				  <thead>
					  <tr>
						  <th colspan="9"><span class="lead"><b><?php _e('TICKETS'); ?></b></span></th>
					  </tr>
					  <tr>
						  <th><?php _e('Ticket'); ?></th>
						  <th><?php _e('Department'); ?></th>
						  <th><?php _e('Client'); ?></th>
						  <th><?php _e('Asset'); ?></th>
						  <th><?php _e('Project'); ?></th>
						  <th><?php _e('Owner'); ?></th>
						  <th><?php _e('Subject'); ?></th>
						  <th><?php _e('Status'); ?></th>
						  <th><?php _e('Date Added'); ?></th>
					  </tr>
				  </thead>
				  <tbody>
					  <?php foreach($tickets as $ticket) { ?>
					  <tr>
						  <td>#<?php echo $ticket['ticket']; ?></td>
						  <td><?php echo getSingleValue("tickets_departments","name",$ticket['departmentid']); ?></td>
						  <td><?php echo getSingleValue("clients","name",$ticket['clientid']); ?></td>
						  <td><?php echo getSingleValue("assets","tag",$ticket['assetid']); ?><br><?php echo getSingleValue("assets","name",$ticket['assetid']); ?></td>
						  <td><?php echo getSingleValue("projects","tag",$ticket['projectid']); ?><br><?php echo getSingleValue("projects","name",$ticket['projectid']); ?></td>
						  <td><?php echo getSingleValue("people","name",$ticket['adminid']); ?></td>
						  <td><?php echo $ticket['subject']; ?></td>
						  <td><?php echo $ticket['status']; ?></td>
						  <td><?php echo dateTimeDisplay($ticket['timestamp']); ?></td>
					  </tr>
					  <?php } ?>
				  </tbody>
				  <tfoot>
					  <tr>
						  <th colspan="9"><?php echo count($tickets); ?> <?php _e('Tickets'); ?></th>
					  </tr>
				  </tfoot>

			  </table>
		</div>



					<div class="col-xs-12 table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th colspan="8"><span class="lead"><b><?php _e('BY DEPARTMENT'); ?></b></span></th>
								</tr>
								<tr>
									<th><?php _e('Department'); ?></th>
									<th><?php _e('Tickets'); ?></th>

								</tr>
							</thead>
							<tbody>
								<?php foreach($departments as $department) { ?>
									<?php

									?>
									<tr>
										<td><?php echo $department['name']; ?></td>

										<td><?php echo counTicketsByDepartment($department['id'], $startdate, $enddate, $_GET['clientid']); ?></td>

									</tr>
								<?php } ?>
							</tbody>
						</table>
				  </div>

		</div>

		<!-- this row will not appear when printing -->
		<div class="row no-print">
          <div class="col-xs-12">
            <button onClick="window.print();" class="btn btn-default pull-right"><i class="fa fa-print"></i> <?php _e('Print'); ?></button>
          </div>
        </div>


	<?php } elseif($_GET['report'] == "timesheetSummary") { ?>


        <div class="row"><div class="col-xs-12"><h2 class="page-header"><i class="fa fa-globe"></i> <?php echo getConfigValue("company_name"); ?><small class="pull-right"><?php _e('Date:'); ?> <?php echo date('Y-m-d'); ?></small></h2></div></div>
		<div class="row">
			<div class="col-xs-6"><h4><b><?php _e('TIMESHEET WITH SUMMARRY'); ?></b></h4></div>
			<div class="col-xs-6 text-right">
				<?php if(isset($_GET['clientid']) && $_GET['clientid'] != 0) echo "<h4>".__("Client")." <b>".getSingleValue("clients","name",$_GET['clientid'])."</b></h4>"; ?>
				<?php if(isset($_GET['startDate']) && isset($_GET['endDate'])) echo "<h4>".__("Date range")." <b>".$_GET['startDate']." - ".$_GET['endDate']."</b></h4>"; ?>
			</div>
		</div>
		<br>
		<div class="row">

			<div class="col-xs-12 table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th colspan="7"><span class="lead"><b><?php _e('TIME LOG'); ?></b></span></th>
						</tr>
						<tr>
							<th><?php _e('Client'); ?></th>
							<th><?php _e('Asset'); ?></th>
							<th><?php _e('Project'); ?></th>
							<th><?php _e('Staff'); ?></th>
							<th><?php _e('Date & Time'); ?></th>
							<th><?php _e('Duration'); ?></th>
							<th><?php _e('Tagged Items'); ?></th>
						</tr>
					</thead>
					<tbody>
						<?php $totalsecs = 0; $totalissues = 0; $totaltickets = 0; ?>
						<?php foreach($timelog as $item) { ?>
							<?php
							  $tag_issues = unserialize($item['issues']);
							  $tag_tickets = unserialize($item['tickets']);

							  if(empty($tag_issues)) $tag_issues = [];
							  if(empty($tag_tickets)) $tag_tickets = [];
							?>
						<tr>

							<td><?php echo getSingleValue("clients","name",$item['clientid']); ?></td>
							<td><?php echo getSingleValue("assets","tag",$item['assetid']); ?><br><?php echo getSingleValue("assets","name",$item['assetid']); ?></td>
							<td><?php echo getSingleValue("projects","tag",$item['projectid']); ?><br><?php echo getSingleValue("projects","name",$item['projectid']); ?></td>
							<td><?php echo getSingleValue("people","name",$item['staffid']); ?></td>
							<td><?php echo dateDisplay($item['date']); ?> <?php echo $item['start']; ?> <i class='fa fa-long-arrow-right'></i> <?php echo $item['end']; ?></td>
							<td>
								<?php
									$currentduration = duration($item['date'], $item['start'], $item['end']);
									$totalsecs = $totalsecs + $currentduration;
								 ?>
								<?php echo secondsToTime($currentduration); ?>
							</td>

							<td>
								<?php foreach($tag_issues as $tag_issue) { $totalissues++; ?>
								  <i class='fa fa-tasks fa-fw'></i> <?php echo getSingleValue("issues", "name", $tag_issue); ?><br>
								<?php } ?>
								<?php foreach($tag_tickets as $tag_ticket) { $totaltickets++; ?>
								  <i class='fa fa-ticket fa-fw'></i> <?php echo getSingleValue("tickets", "ticket", $tag_ticket); ?> <?php echo getSingleValue("tickets", "subject", $tag_ticket); ?><br>
								<?php } ?>
							</td>

							<td><?php echo $item['description']; ?></td>

						</tr>
						<?php } ?>
					</tbody>
					<tfoot>
						<tr>
							<th colspan="5"><?php _e('Totals'); ?></th>
							<th><?php echo secondsToTime($totalsecs); ?> </th>
							<th><?php echo $totalissues; ?> <?php _e('Issues'); ?>, <?php echo $totaltickets; ?> <?php _e('Tickets'); ?></th>
						</tr>
					</tfoot>
				</table>
		  </div>

			<div class="col-xs-12 table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th colspan="8"><span class="lead"><b><?php _e('ISSUES'); ?></b></span></th>
						</tr>
						<tr>
							<th><?php _e('ID'); ?></th>
							<th><?php _e('Client'); ?></th>
							<th><?php _e('Asset'); ?></th>
							<th><?php _e('Project'); ?></th>
							<th><?php _e('Owner'); ?></th>
							<th><?php _e('Name'); ?></th>
							<th><?php _e('Status'); ?></th>
							<th><?php _e('Date Added'); ?></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($issues as $task) { ?>
						<tr>
							<td><?php echo $task['id']; ?></td>
							<td><?php echo getSingleValue("clients","name",$task['clientid']); ?></td>
							<td><?php echo getSingleValue("assets","tag",$task['assetid']); ?><br><?php echo getSingleValue("assets","name",$task['assetid']); ?></td>
							<td><?php echo getSingleValue("projects","tag",$task['projectid']); ?><br><?php echo getSingleValue("projects","name",$task['projectid']); ?></td>
							<td><?php echo getSingleValue("people","name",$task['adminid']); ?></td>
							<td><?php echo $task['name']; ?></td>
							<td><?php echo $task['status']; ?></td>
							<td><?php echo dateTimeDisplay($task['dateadded']); ?></td>
						</tr>
						<?php } ?>
					</tbody>
				</table>
		  </div>
		  <div class="col-xs-12 table-responsive">
			  <table class="table table-striped table-bordered">
				  <thead>
					  <tr>
						  <th colspan="8"><span class="lead"><b><?php _e('TICKETS'); ?></b></span></th>
					  </tr>
					  <tr>
						  <th><?php _e('Ticket'); ?></th>
						  <th><?php _e('Client'); ?></th>
						  <th><?php _e('Asset'); ?></th>
						  <th><?php _e('Project'); ?></th>
						  <th><?php _e('Owner'); ?></th>
						  <th><?php _e('Subject'); ?></th>
						  <th><?php _e('Status'); ?></th>
						  <th><?php _e('Date Added'); ?></th>
					  </tr>
				  </thead>
				  <tbody>
					  <?php foreach($tickets as $ticket) { ?>
					  <tr>
						  <td>#<?php echo $ticket['ticket']; ?></td>

						  <td><?php echo getSingleValue("clients","name",$ticket['clientid']); ?></td>
						  <td><?php echo getSingleValue("assets","tag",$ticket['assetid']); ?><br><?php echo getSingleValue("assets","name",$ticket['assetid']); ?></td>
						  <td><?php echo getSingleValue("projects","tag",$ticket['projectid']); ?><br><?php echo getSingleValue("projects","name",$ticket['projectid']); ?></td>
						  <td><?php echo getSingleValue("people","name",$ticket['adminid']); ?></td>
						  <td><?php echo $ticket['subject']; ?></td>
						  <td><?php echo $ticket['status']; ?></td>
						  <td><?php echo dateTimeDisplay($ticket['timestamp']); ?></td>
					  </tr>
					  <?php } ?>
				  </tbody>
			  </table>
		</div>

		</div>
        <div class="row">
          	<div class="col-xs-12 table-responsive">
            	<table class="table table-striped table-bordered">
              		<thead>
						<tr>
			                <th colspan="7"><span class="lead"><b><?php _e('ASSETS'); ?></b></span></th>
		              	</tr>
		              	<tr>
							<th><?php _e('Client'); ?></th>
			                <th><?php _e('Tag'); ?></th>
			                <th><?php _e('Name'); ?></th>
			                <th><?php _e('Category'); ?></th>
			                <th><?php _e('Model'); ?></th>
			                <th><?php _e('Status'); ?></th>
							<th><?php _e('Serial'); ?></th>
		              	</tr>
              		</thead>
              		<tbody>
						<?php foreach($assets as $asset) { $manufacturerid = getSingleValue("models","manufacturerid",$asset['modelid']); ?>
              			<tr>
							<td><?php echo getSingleValue("clients","name",$asset['clientid']); ?></td>
			                <td><?php echo $asset['tag']; ?></td>
			                <td><?php echo $asset['name']; ?></td>
			                <td><?php echo getSingleValue("assetcategories","name",$asset['categoryid']); ?></td>
			                <td><?php echo getSingleValue("manufacturers","name",$manufacturerid)." ".getSingleValue("models","name",$asset['modelid']); ?></td>
							<td><?php echo getSingleValue("labels","name",$asset['statusid']); ?></td>
			                <td><?php echo $asset['serial']; ?></td>
              			</tr>
						<?php } ?>
              		</tbody>
            	</table>
          </div>
        </div>
		<div class="row">
          	<div class="col-xs-12 table-responsive">
            	<table class="table table-striped table-bordered">
              		<thead>
						<tr>
			                <th colspan="5"><span class="lead"><b><?php _e('LICENSES'); ?></b></span></th>
		              	</tr>
		              	<tr>
							<th><?php _e('Client'); ?></th>
			                <th><?php _e('Tag'); ?></th>
							<th><?php _e('License Type'); ?></th>
			                <th><?php _e('Name'); ?></th>
			                <th><?php _e('Status'); ?></th>
		              	</tr>
              		</thead>
              		<tbody>
						<?php foreach($licenses as $license) { ?>
              			<tr>
							<td><?php echo getSingleValue("clients","name",$license['clientid']); ?></td>
			                <td><?php echo $license['tag']; ?></td>
							<td><?php echo getSingleValue("licensecategories","name",$license['categoryid']); ?></td>
			                <td><?php echo $license['name']; ?></td>
							<td><?php echo getSingleValue("labels","name",$license['statusid']); ?></td>
              			</tr>
						<?php } ?>
              		</tbody>
            	</table>
          </div>
        </div>

		<!-- this row will not appear when printing -->
		<div class="row no-print">
          <div class="col-xs-12">
            <button onClick="window.print();" class="btn btn-default pull-right"><i class="fa fa-print"></i> <?php _e('Print'); ?></button>
          </div>
        </div>

	<?php } elseif($_GET['report'] == "summary") { ?>

        <div class="row"><div class="col-xs-12"><h2 class="page-header"><i class="fa fa-globe"></i> <?php echo getConfigValue("company_name"); ?><small class="pull-right"><?php _e('Date:'); ?> <?php echo date('Y-m-d'); ?></small></h2></div></div>
		<div class="row">
			<div class="col-xs-6"><h4><b><?php _e('ASSETS & LICENSES SUMMARY'); ?></b></h4></div>
			<div class="col-xs-6 text-right">
				<?php if(isset($_GET['clientid']) && $_GET['clientid'] != 0) echo "<h4>".__("Client")." <b>".getSingleValue("clients","name",$_GET['clientid'])."</b></h4>"; ?>
				<?php if(isset($_GET['startDate']) && isset($_GET['endDate'])) echo "<h4>".__("Date range")." <b>".$_GET['startDate']." - ".$_GET['endDate']."</b></h4>"; ?>
			</div>
		</div>
		<br>
        <div class="row">
          	<div class="col-xs-12 table-responsive">
            	<table class="table table-striped table-bordered">
              		<thead>
						<tr>
			                <th colspan="7"><span class="lead"><b><?php _e('ASSETS'); ?></b></span></th>
		              	</tr>
		              	<tr>
							<th><?php _e('Client'); ?></th>
			                <th><?php _e('Tag'); ?></th>
			                <th><?php _e('Name'); ?></th>
			                <th><?php _e('Category'); ?></th>
			                <th><?php _e('Model'); ?></th>
			                <th><?php _e('Status'); ?></th>
							<th><?php _e('Serial'); ?></th>
		              	</tr>
              		</thead>
              		<tbody>
						<?php foreach($assets as $asset) { $manufacturerid = getSingleValue("models","manufacturerid",$asset['modelid']); ?>
              			<tr>
							<td><?php echo getSingleValue("clients","name",$asset['clientid']); ?></td>
			                <td><?php echo $asset['tag']; ?></td>
			                <td><?php echo $asset['name']; ?></td>
			                <td><?php echo getSingleValue("assetcategories","name",$asset['categoryid']); ?></td>
			                <td><?php echo getSingleValue("manufacturers","name",$manufacturerid)." ".getSingleValue("models","name",$asset['modelid']); ?></td>
							<td><?php echo getSingleValue("labels","name",$asset['statusid']); ?></td>
			                <td><?php echo $asset['serial']; ?></td>
              			</tr>
						<?php } ?>
              		</tbody>
            	</table>
          </div>
        </div>
		<div class="row">
          	<div class="col-xs-12 table-responsive">
            	<table class="table table-striped table-bordered">
              		<thead>
						<tr>
			                <th colspan="7"><span class="lead"><b><?php _e('LICENSES'); ?></b></span></th>
		              	</tr>
		              	<tr>
							<th><?php _e('Client'); ?></th>
			                <th><?php _e('Tag'); ?></th>
							<th><?php _e('Category'); ?></th>
			                <th><?php _e('Name'); ?></th>
			                <th><?php _e('Status'); ?></th>
		              	</tr>
              		</thead>
              		<tbody>
						<?php foreach($licenses as $license) { ?>
              			<tr>
							<td><?php echo getSingleValue("clients","name",$license['clientid']); ?></td>
			                <td><?php echo $license['tag']; ?></td>
							<td><?php echo getSingleValue("licensecategories","name",$license['categoryid']); ?></td>
			                <td><?php echo $license['name']; ?></td>
							<td><?php echo getSingleValue("labels","name",$license['statusid']); ?></td>
              			</tr>
						<?php } ?>
              		</tbody>
            	</table>
          </div>
        </div>

        <!-- this row will not appear when printing -->
        <div class="row no-print">
          <div class="col-xs-12">
            <button onClick="window.print();" class="btn btn-default pull-right"><i class="fa fa-print"></i> <?php _e('Print'); ?></button>
          </div>
        </div>






		<?php } elseif($_GET['report'] == "userSummary") { ?>

	        <div class="row"><div class="col-xs-12"><h2 class="page-header"><i class="fa fa-globe"></i> <?php echo getConfigValue("company_name"); ?><small class="pull-right"><?php _e('Date:'); ?> <?php echo date('Y-m-d'); ?></small></h2></div></div>
			<div class="row">
				<div class="col-xs-6"><h4><b><?php _e('ASSETS SUMMARY'); ?></b></h4></div>
				<div class="col-xs-6 text-right">
					<?php if(isset($_GET['clientid']) && $_GET['clientid'] != 0) echo "<h4>".__("Client")." <b>".getSingleValue("clients","name",$_GET['clientid'])."</b></h4>"; ?>
					<?php if(isset($_GET['startDate']) && isset($_GET['endDate'])) echo "<h4>".__("Date range")." <b>".$_GET['startDate']." - ".$_GET['endDate']."</b></h4>"; ?>
				</div>
			</div>
			<br>
	        <div class="row">
	          	<div class="col-xs-12 table-responsive">
	            	<table class="table table-striped table-bordered">
	              		<thead>
							<tr>
				                <th colspan="7"><span class="lead"><b><?php _e('ASSETS'); ?></b></span></th>
			              	</tr>
			              	<tr>
								<th><?php _e('Client'); ?></th>
								<th><?php _e('User'); ?></th>
				                <th><?php _e('Tag'); ?></th>
				                <th><?php _e('Name'); ?></th>
				                <th><?php _e('Category'); ?></th>
				                <th><?php _e('Model'); ?></th>
				                <th><?php _e('Status'); ?></th>
								<th><?php _e('Serial'); ?></th>
			              	</tr>
	              		</thead>
	              		<tbody>
							<?php foreach($assets as $asset) { $manufacturerid = getSingleValue("models","manufacturerid",$asset['modelid']); ?>
	              			<tr>
								<td><?php echo getSingleValue("clients","name",$asset['clientid']); ?></td>
								<td><?php echo getSingleValue("people","name",$asset['userid']); ?></td>
				                <td><?php echo $asset['tag']; ?></td>
				                <td><?php echo $asset['name']; ?></td>
				                <td><?php echo getSingleValue("assetcategories","name",$asset['categoryid']); ?></td>
				                <td><?php echo getSingleValue("manufacturers","name",$manufacturerid)." ".getSingleValue("models","name",$asset['modelid']); ?></td>
								<td><?php echo getSingleValue("labels","name",$asset['statusid']); ?></td>
				                <td><?php echo $asset['serial']; ?></td>
	              			</tr>
							<?php } ?>
	              		</tbody>
	            	</table>
	          </div>
	        </div>


	        <!-- this row will not appear when printing -->
	        <div class="row no-print">
	          <div class="col-xs-12">
	            <button onClick="window.print();" class="btn btn-default pull-right"><i class="fa fa-print"></i> <?php _e('Print'); ?></button>
	          </div>
	        </div>

		<?php } ?>

</section></section>
<!-- /.content -->
</aside><!-- /.right-side -->
