<aside class="right-side">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1><?php echo $project['tag']; ?> <small><?php echo $project['name']; ?></small></h1>
		<ol class="breadcrumb">
			<li><a href="?route=dashboard"><i class="fa fa-dashboard"></i> <?php _e('Home'); ?></a></li>
			<li><a href="?route=projects"><?php _e('Projects'); ?></a></li>
			<li class="active"><?php echo $project['tag']; ?></li></ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<?php if(!empty($statusmessage)): ?>
				<div class="row"><div class='col-md-12'><div class="alert alert-<?php print $statusmessage["type"]; ?> alert-auto" role="alert"><?php print __($statusmessage["message"]); ?></div></div></div>
		<?php endif; ?>
		<div class="row">
		<div class="col-md-12">
          <!-- Custom Tabs (Pulled to the right) -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li <?php if ($section == "") echo 'class="active"'; ?> ><a href="?route=projects/manage&id=<?php echo $project['id']; ?>&section="><?php _e('Summary'); ?></a></li>
			  <?php if(in_array("viewIssues",$perms)) { ?><li <?php if ($section == "issues") echo 'class="active"'; ?> ><a href="?route=projects/manage&id=<?php echo $project['id']; ?>&section=issues"><?php _e('Kanban Board'); ?></a></li><?php } ?>
			  <?php if(in_array("viewIssues",$perms)) { ?><li <?php if ($section == "allissues") echo 'class="active"'; ?> ><a href="?route=projects/manage&id=<?php echo $project['id']; ?>&section=allissues"><?php _e('Issues'); ?></a></li><?php } ?>
			  <?php if(in_array("viewTickets",$perms)) { ?><li <?php if ($section == "tickets") echo 'class="active"'; ?> ><a href="?route=projects/manage&id=<?php echo $project['id']; ?>&section=tickets"><?php _e('Tickets'); ?></a></li><?php } ?>
			  <?php if(in_array("viewComments",$perms)) { ?><li <?php if ($section == "comments") echo 'class="active"'; ?> ><a href="?route=projects/manage&id=<?php echo $project['id']; ?>&section=comments"><?php _e('Comments'); ?></a></li><?php } ?>
			  <?php if(in_array("viewFiles",$perms)) { ?><li <?php if ($section == "files") echo 'class="active"'; ?> ><a href="?route=projects/manage&id=<?php echo $project['id']; ?>&section=files"><?php _e('Files'); ?></a></li><?php } ?>
			  <?php if(in_array("viewMilestones",$perms)) { ?><li <?php if ($section == "milestones") echo 'class="active"'; ?> ><a href="?route=projects/manage&id=<?php echo $project['id']; ?>&section=milestones"><?php _e('Milestones'); ?></a></li><?php } ?>
			  <?php if(in_array("viewTime",$perms)) { ?><li <?php if ($section == "timelog") echo 'class="active"'; ?> ><a href="?route=projects/manage&id=<?php echo $project['id']; ?>&section=timelog"><?php _e('Time Log'); ?></a></li><?php } ?>
              <?php if(in_array("manageProjectNotes",$perms)) { ?><li <?php if ($section == "notes") echo 'class="active"'; ?> ><a href="?route=projects/manage&id=<?php echo $project['id']; ?>&section=notes"><?php _e('Notes'); ?></a></li><?php } ?>

			  <div class="btn-group pull-right" style="padding:6px;">
				    <?php if(in_array("addIssue",$perms)) { ?><a class="btn btn-default btn-sm btn-flat" href="#" onClick='showM("?modal=projects/addIssue&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&clientid=<?php echo $project['clientid']; ?>&projectid=<?php echo $project['id']; ?>&section=issues");return false'><i class='fa fa-tasks fa-fw'></i> <?php _e('New Issue'); ?></a><?php } ?>

					<?php if(in_array("addTime",$perms)) { ?><a class="btn btn-default btn-sm btn-flat" href="#" onClick='showM("?modal=time/add&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&clientid=<?php echo $project['clientid']; ?>&projectid=<?php echo $project['id']; ?>&section=timelog");return false'><i class='fa fa-clock-o fa-fw'></i> <?php _e('Log Time'); ?></a><?php } ?>

					<div class="btn-group">
						<button type="button" class="btn btn-primary btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
							<?php _e('More'); ?> <span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right">
							<?php if(in_array("addTicket",$perms)) { ?><li><a href="#" onClick='showM("?modal=tickets/add&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&clientid=<?php echo $project['clientid']; ?>&projectid=<?php echo $project['id']; ?>&section=tickets");return false'><i class='fa fa-ticket fa-fw'></i><?php _e('New Ticket'); ?></a></li><?php } ?>
							<?php if(in_array("addComment",$perms)) { ?><li><a href="#" onClick='showM("index.php?modal=comments/add&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&clientid=<?php echo $project['clientid']; ?>&projectid=<?php echo $project['id']; ?>&ticketid=0&section=comments");return false'><i class='fa fa-comment fa-fw'></i><?php _e('New Comment'); ?></a></li><?php } ?>
							<?php if(in_array("addProject",$perms)) { ?><li><a href="#" onClick='showM("index.php?modal=projects/edit&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $project['id']; ?>&section=");return false'><i class='fa fa-edit fa-fw'></i><?php _e('Edit Project'); ?></a></li><?php } ?>
							<?php if(in_array("uploadFile",$perms)) { ?><li><a href="#" onClick='showM("index.php?modal=files/upload&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&clientid=<?php echo $project['clientid']; ?>&projectid=<?php echo $project['id']; ?>&section=files");return false'><i class="fa fa-upload fa-fw"></i><?php _e('Upload File'); ?></a></li><?php } ?>
							<?php if(in_array("addMilestone",$perms)) { ?><li><a href="#" onClick='showM("index.php?modal=milestones/add&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&clientid=<?php echo $project['clientid']; ?>&projectid=<?php echo $project['id']; ?>&ticketid=0&section=milestones");return false'><i class='fa fa-road fa-fw'></i><?php _e('New Milestone'); ?></a></li><?php } ?>
							<?php if(in_array("adminsProject",$perms)) { ?><li><a href="#" onClick='showM("index.php?modal=projects/assignAdmin&section=&reroute=projects/manage&routeid=<?php echo $project['id']; ?>");return false'><i class="fa fa-thumb-tack fa-fw"></i><?php _e('Assign Staff'); ?></a></li><?php } ?>
						</ul>
					</div>

			  </div>

            </ul>
            <div class="tab-content">
              <div class="tab-pane <?php if ($section == "") echo 'active'; ?>" id="tab-summary">
				  <div class="row">

					<div class="col-md-12">

						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="info-box bg-green">
									<span class="info-box-icon"><i class="fa fa-rocket"></i></span>

									<div class="info-box-content">
										<span class="info-box-text"><?php _e('Completion'); ?></span>
										<span class="info-box-number" style="font-size:24px;"><?php echo Project::progress($project['id']); ?> %</span>
										<div class="progress">
											<div class="progress-bar" style="width: <?php echo Project::progress($project['id']); ?>%"></div>
										</div>
									</div>
									<!-- /.info-box-content -->
								</div>
								<!-- /.info-box -->
							</div>

							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="info-box bg-yellow">
									<span class="info-box-icon"><i class="fa fa-bolt"></i></span>

									<div class="info-box-content">
										<span class="info-box-text"><?php _e('To Do Issues'); ?></span>
										<span class="info-box-number" style="font-size:24px;"><?php echo count($todo); ?></span>

									</div>
									<!-- /.info-box-content -->
								</div>
								<!-- /.info-box -->
							</div>

							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="info-box bg-blue">
									<span class="info-box-icon"><i class="fa fa-refresh"></i></span>

									<div class="info-box-content">
										<span class="info-box-text"><?php _e('In Progress Issues'); ?></span>
										<span class="info-box-number" style="font-size:24px;"><?php echo count($inprogress); ?></span>
									</div>
									<!-- /.info-box-content -->
								</div>
								<!-- /.info-box -->
							</div>

							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="info-box bg-aqua">
									<span class="info-box-icon"><i class="fa fa-check"></i></span>

									<div class="info-box-content">
										<span class="info-box-text"><?php _e('Completed Issues'); ?></span>
										<span class="info-box-number" style="font-size:24px;"><?php echo count($done); ?></span>
									</div>
									<!-- /.info-box-content -->
								</div>
								<!-- /.info-box -->
							</div>


						</div>
					</div>

		  	  		<div class="col-md-4">

						<!-- PROJECT DETAILS -->
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title"><?php _e('Project Details'); ?></h3>
							</div>
						<!-- /.box-header -->
							<div class="box-body ">
								<table id="projectTable" class="table table-striped table-bordered">
									<tbody>
										<tr>
											<td><b><?php _e('Tag'); ?></b></td>
											<td><?php echo $project['tag']; ?></td>
										</tr>
										<tr>
											<td><b><?php _e('Name'); ?></b></td>
											<td><?php echo $project['name']; ?></td>
										</tr>
										<tr>
											<td><b><?php _e('Client'); ?></b></td>
											<td><?php if(in_array("manageClient",$perms)) { ?><a href="?route=clients/manage&id=<?php echo $project['clientid']; ?>"><?php echo getSingleValue('clients','name',$project['clientid']); ?></a><?php } else echo getSingleValue('clients','name',$project['clientid']); ?></td>
										</tr>
										<tr>
											<td><b><?php _e('Start Date'); ?></b></td>
											<td><?php echo dateDisplay($project['startdate']); ?></td>
										</tr>
										<tr>
											<td><b><?php _e('Due Date'); ?></b></td>
											<td><?php echo dateDisplay($project['deadline']); ?></td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- /.box-body -->
						</div>
						<!--/.box -->

						<!-- ASSIGNED STAFF -->
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title"><?php _e('Assigned Staff'); ?></h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body ">
								<ul class="users-list clearfix">
								<?php foreach ($assignedadmins as $aasign) { ?>
									<li>
										<img src="<?php echo getGravatar(getSingleValue("people","email",$aasign['adminid']),"50"); ?>" alt="User Image" style="height:50px;width:50px;">
										<a class="users-list-name" href="#"><?php echo getSingleValue("people","name",$aasign['adminid']); ?></a>
										<span class="users-list-date"><?php echo getSingleValue("people","title",$aasign['adminid']); ?></span>
										<?php if(in_array("adminsProject",$perms)) { ?><span class="users-list-date"><a onClick='showM("index.php?modal=projects/unassignAdmin&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $aasign['id']; ?>");return false' data-toggle="modal"><?php _e('Unassign'); ?></a></span><?php } ?>
								  </li>
								<?php } ?>
								</ul>
							<?php if(empty($assignedadmins)) _e("There are no assigned admins to display."); ?>
							</div>
							<!-- /.box-body -->
						</div>
						<!--/.box -->



					</div>
					<div class="col-md-8">

						<div class="row">

							<div class="col-md-12">
								<!-- PROJECT DESCRIPTION -->
								<div class="box box-primary">
								  <div class="box-header with-border">
									<h3 class="box-title"><?php _e('Description'); ?></h3>
								  </div>
								  <!-- /.box-header -->
								  <div class="box-body ">
										<?php echo $project['description']; ?>
								  </div>
								  <!-- /.box-body -->
								</div>
								<!--/.box -->
							</div>

							<div class="col-md-12">

								<!-- PROJECT NOTES -->
								<div class="box box-primary">
								  <div class="box-header with-border">
									<h3 class="box-title"><?php _e('Notes'); ?></h3>
								  </div>
								  <!-- /.box-header -->
								  <div class="box-body ">
										<?php echo $project['notes']; ?>
								  </div>
								  <!-- /.box-body -->
								</div>
								<!--/.box -->



							</div>

						</div>

					</div>
				</div>
              </div>
              <!-- /.tab-pane -->
			  <?php if(in_array("viewIssues",$perms)) { ?>
			  <div class="tab-pane <?php if ($section == "issues") echo 'active'; ?>" id="tab-issues">
				  <div class="row">
					  <div class="col-md-4">
				            <div class="box box-primary">
					              <div class="box-header with-border">
						                <h3 class="box-title"><i class="fa fa-bolt fa-fw"></i> <?php _e('To Do'); ?></h3>
					              </div>
					              <div class="box-body">
									  <ul class="todo-list" id="To Do">
										  <?php foreach($todo as $item) { ?>
											  <li id="<?php echo $item['id']; ?>" class="issues-list-item">
  												<span class="handle">
  													<?php echo $item['name']; ?>
  												</span>
  												<div class="issue-more">
  													<span class="text-left">
  														<?php if($item['issuetype'] == "Task") echo "<i class='fa fa-check-square fa-fw text-blue' data-toggle='tooltip' title='". __('Task')."'></i> "; ?>
  														<?php if($item['issuetype'] == "Maintenance") echo "<i class='fa fa-minus-square fa-fw text-yellow' data-toggle='tooltip' title='". __('Maintenance')."'></i> "; ?>
  														<?php if($item['issuetype'] == "Bug") echo "<i class='fa fa-bug fa-fw text-red' data-toggle='tooltip' title='". __('Bug')."'></i> "; ?>
  														<?php if($item['issuetype'] == "Improvement") echo "<i class='fa fa-external-link fa-fw text-teal' data-toggle='tooltip' title='". __('Improvement')."'></i> "; ?>
  														<?php if($item['issuetype'] == "New Feature") echo "<i class='fa fa-plus-square fa-fw text-green' data-toggle='tooltip' title='". __('New Feature')."'></i> "; ?>
  														<?php if($item['issuetype'] == "Story") echo "<i class='fa fa-circle fa-fw text-red' data-toggle='tooltip' title='". __('Story')."'></i> "; ?>

  														<?php if($item['priority'] == "High") echo "<i class='fa fa-flag fa-fw text-red' data-toggle='tooltip' title='".__("High priority")."'></i>&nbsp;"; ?>
  														<?php if($item['priority'] == "Normal") echo "<i class='fa fa-flag fa-fw text-yellow' data-toggle='tooltip' title='".__("Normal priority")."'></i>&nbsp;"; ?>
  														<?php if($item['priority'] == "Low") echo "<i class='fa fa-flag fa-fw text-blue' data-toggle='tooltip' title='".__("Low priority")."'></i>&nbsp;"; ?>
  													</span>
  													<span class="pull-right">
  														<?php if(in_array("editIssue",$perms)) { ?><a href="#" onClick='showM("index.php?modal=issues/edit&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $item['id']; ?>&section=issues");return false' class='btn-right text-dark'><i class='fa fa-edit'></i></a>&nbsp;<?php } ?>
  														<?php if(in_array("deleteIssue",$perms)) { ?><a href="#" onClick='showM("index.php?modal=issues/delete&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $item['id']; ?>&section=issues");return false' class='btn-right text-red'><i class='fa fa-trash-o'></i></a><?php } ?>
  													</span>
  												</div>
  											</li>
										  <?php } ?>
									  </ul>
					              </div>
				            </div>
					  </div>

					  <div class="col-md-4">
						  <div class="box box-primary">
								<div class="box-header with-border">
									  <h3 class="box-title"><i class="fa fa-refresh fa-fw"></i> <?php _e('In Progress'); ?></h3>
								</div>
								<div class="box-body">
									<ul class="todo-list issues-list" id="In Progress">
										<?php foreach($inprogress as $item) { ?>
											<li id="<?php echo $item['id']; ?>" class="issues-list-item">
												<span class="handle">
													<?php echo $item['name']; ?>
												</span>
												<div class="issue-more">
													<span class="text-left">
														<?php if($item['issuetype'] == "Task") echo "<i class='fa fa-check-square fa-fw text-blue' data-toggle='tooltip' title='". __('Task')."'></i> "; ?>
														<?php if($item['issuetype'] == "Maintenance") echo "<i class='fa fa-minus-square fa-fw text-yellow' data-toggle='tooltip' title='". __('Maintenance')."'></i> "; ?>
														<?php if($item['issuetype'] == "Bug") echo "<i class='fa fa-bug fa-fw text-red' data-toggle='tooltip' title='". __('Bug')."'></i> "; ?>
														<?php if($item['issuetype'] == "Improvement") echo "<i class='fa fa-external-link fa-fw text-teal' data-toggle='tooltip' title='". __('Improvement')."'></i> "; ?>
														<?php if($item['issuetype'] == "New Feature") echo "<i class='fa fa-plus-square fa-fw text-green' data-toggle='tooltip' title='". __('New Feature')."'></i> "; ?>
														<?php if($item['issuetype'] == "Story") echo "<i class='fa fa-circle fa-fw text-red' data-toggle='tooltip' title='". __('Story')."'></i> "; ?>

														<?php if($item['priority'] == "High") echo "<i class='fa fa-flag fa-fw text-red' data-toggle='tooltip' title='".__("High priority")."'></i>&nbsp;"; ?>
														<?php if($item['priority'] == "Normal") echo "<i class='fa fa-flag fa-fw text-yellow' data-toggle='tooltip' title='".__("Normal priority")."'></i>&nbsp;"; ?>
														<?php if($item['priority'] == "Low") echo "<i class='fa fa-flag fa-fw text-blue' data-toggle='tooltip' title='".__("Low priority")."'></i>&nbsp;"; ?>
													</span>
													<span class="pull-right">
														<?php if(in_array("editIssue",$perms)) { ?><a href="#" onClick='showM("index.php?modal=issues/edit&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $item['id']; ?>&section=issues");return false' class='btn-right text-dark'><i class='fa fa-edit'></i></a>&nbsp;<?php } ?>
														<?php if(in_array("deleteIssue",$perms)) { ?><a href="#" onClick='showM("index.php?modal=issues/delete&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $item['id']; ?>&section=issues");return false' class='btn-right text-red'><i class='fa fa-trash-o'></i></a><?php } ?>
													</span>
												</div>
											</li>
										<?php } ?>
									</ul>
								</div>
						  </div>

						  <div class="box box-primary">
								<div class="box-header with-border">
									  <h3 class="box-title"><i class="fa fa-star fa-fw"></i> <?php _e('In Review'); ?></h3>
								</div>
								<div class="box-body">
									<ul class="todo-list issues-list" id="In Review">
										<?php foreach($inreview as $item) { ?>
											<li id="<?php echo $item['id']; ?>" class="issues-list-item">
												<span class="handle">
													<?php echo $item['name']; ?>
												</span>
												<div class="issue-more">
													<span class="text-left">
														<?php if($item['issuetype'] == "Task") echo "<i class='fa fa-check-square fa-fw text-blue' data-toggle='tooltip' title='". __('Task')."'></i> "; ?>
														<?php if($item['issuetype'] == "Maintenance") echo "<i class='fa fa-minus-square fa-fw text-yellow' data-toggle='tooltip' title='". __('Maintenance')."'></i> "; ?>
														<?php if($item['issuetype'] == "Bug") echo "<i class='fa fa-bug fa-fw text-red' data-toggle='tooltip' title='". __('Bug')."'></i> "; ?>
														<?php if($item['issuetype'] == "Improvement") echo "<i class='fa fa-external-link fa-fw text-teal' data-toggle='tooltip' title='". __('Improvement')."'></i> "; ?>
														<?php if($item['issuetype'] == "New Feature") echo "<i class='fa fa-plus-square fa-fw text-green' data-toggle='tooltip' title='". __('New Feature')."'></i> "; ?>
														<?php if($item['issuetype'] == "Story") echo "<i class='fa fa-circle fa-fw text-red' data-toggle='tooltip' title='". __('Story')."'></i> "; ?>

														<?php if($item['priority'] == "High") echo "<i class='fa fa-flag fa-fw text-red' data-toggle='tooltip' title='".__("High priority")."'></i>&nbsp;"; ?>
														<?php if($item['priority'] == "Normal") echo "<i class='fa fa-flag fa-fw text-yellow' data-toggle='tooltip' title='".__("Normal priority")."'></i>&nbsp;"; ?>
														<?php if($item['priority'] == "Low") echo "<i class='fa fa-flag fa-fw text-blue' data-toggle='tooltip' title='".__("Low priority")."'></i>&nbsp;"; ?>
													</span>
													<span class="pull-right">
														<?php if(in_array("editIssue",$perms)) { ?><a href="#" onClick='showM("index.php?modal=issues/edit&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $item['id']; ?>&section=issues");return false' class='btn-right text-dark'><i class='fa fa-edit'></i></a>&nbsp;<?php } ?>
														<?php if(in_array("deleteIssue",$perms)) { ?><a href="#" onClick='showM("index.php?modal=issues/delete&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $item['id']; ?>&section=issues");return false' class='btn-right text-red'><i class='fa fa-trash-o'></i></a><?php } ?>
													</span>
												</div>
											</li>
										<?php } ?>
									</ul>
								</div>
						  </div>

					  </div>

					  <div class="col-md-4">
						  <div class="box box-primary">
								<div class="box-header with-border">
									  <h3 class="box-title"><i class="fa fa-check fa-fw"></i> <?php _e('Done'); ?></h3>
									  <div class="box-tools pull-right">
										  <?php if(in_array("releaseMilestone",$perms)) { ?>
										  	<a class="btn btn-primary btn-sm" href="#" onClick='showM("index.php?modal=milestones/release&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $project['id']; ?>&section=issues");return false'><?php _e('Release'); ?></a>
										  <?php } ?>
									  </div>
								</div>
								<div class="box-body">
									<ul class="todo-list" id="Done">
										<?php foreach($done as $item) { ?>
											<li id="<?php echo $item['id']; ?>" class="issues-list-item">
												<span class="handle">
													<?php echo $item['name']; ?>
												</span>
												<div class="issue-more">
													<span class="text-left">
														<?php if($item['issuetype'] == "Task") echo "<i class='fa fa-check-square fa-fw text-blue' data-toggle='tooltip' title='". __('Task')."'></i> "; ?>
														<?php if($item['issuetype'] == "Maintenance") echo "<i class='fa fa-minus-square fa-fw text-yellow' data-toggle='tooltip' title='". __('Maintenance')."'></i> "; ?>
														<?php if($item['issuetype'] == "Bug") echo "<i class='fa fa-bug fa-fw text-red' data-toggle='tooltip' title='". __('Bug')."'></i> "; ?>
														<?php if($item['issuetype'] == "Improvement") echo "<i class='fa fa-external-link fa-fw text-teal' data-toggle='tooltip' title='". __('Improvement')."'></i> "; ?>
														<?php if($item['issuetype'] == "New Feature") echo "<i class='fa fa-plus-square fa-fw text-green' data-toggle='tooltip' title='". __('New Feature')."'></i> "; ?>
														<?php if($item['issuetype'] == "Story") echo "<i class='fa fa-circle fa-fw text-red' data-toggle='tooltip' title='". __('Story')."'></i> "; ?>

														<?php if($item['priority'] == "High") echo "<i class='fa fa-flag fa-fw text-red' data-toggle='tooltip' title='".__("High priority")."'></i>&nbsp;"; ?>
														<?php if($item['priority'] == "Normal") echo "<i class='fa fa-flag fa-fw text-yellow' data-toggle='tooltip' title='".__("Normal priority")."'></i>&nbsp;"; ?>
														<?php if($item['priority'] == "Low") echo "<i class='fa fa-flag fa-fw text-blue' data-toggle='tooltip' title='".__("Low priority")."'></i>&nbsp;"; ?>
													</span>
													<span class="pull-right">
														<?php if(in_array("editIssue",$perms)) { ?><a href="#" onClick='showM("index.php?modal=issues/edit&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $item['id']; ?>&section=issues");return false' class='btn-right text-dark'><i class='fa fa-edit'></i></a>&nbsp;<?php } ?>
														<?php if(in_array("deleteIssue",$perms)) { ?><a href="#" onClick='showM("index.php?modal=issues/delete&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $item['id']; ?>&section=issues");return false' class='btn-right text-red'><i class='fa fa-trash-o'></i></a><?php } ?>
													</span>
												</div>
											</li>
										<?php } ?>
									</ul>
								</div>
						  </div>
					  </div>
				  </div>
              </div>
              <!-- /.tab-pane -->

			  <?php if(in_array("viewIssues",$perms)) { ?>
				<div class="tab-pane <?php if ($section == "allissues") echo 'active'; ?>" id="tab-allissues">

					<div class="table-responsive">
						<table id="dataTablesFullDesc" class="table table-striped table-hover table-bordered">
							<thead>
								<tr>
									<th><?php _e('ID'); ?></th>
									<th><?php _e('Name'); ?></th>
									<th><?php _e('Assigned To'); ?></th>
									<th><?php _e('Status'); ?></th>
									<th><?php _e('Due Date'); ?></th>
									<th><?php _e('Milestone'); ?></th>
									<th class="text-right"></th>
								</tr>
							</thead>
							<tbody>
								<?php foreach ($allissues as $issue) { ?>
									<tr>
										<td><?php echo $issue['id']; ?></td>

										<td>
											<?php if($issue['priority'] == "High") echo "<i class='fa fa-flag fa-fw text-red' data-toggle='tooltip' title='".__("High priority")."'></i>&nbsp;"; ?>
											<?php if($issue['priority'] == "Normal") echo "<i class='fa fa-flag fa-fw text-yellow' data-toggle='tooltip' title='".__("Normal priority")."'></i>&nbsp;"; ?>
											<?php if($issue['priority'] == "Low") echo "<i class='fa fa-flag fa-fw text-blue' data-toggle='tooltip' title='".__("Low priority")."'></i>&nbsp;"; ?>

											<?php if($issue['issuetype'] == "Task") echo "<i class='fa fa-check-square fa-fw text-blue' data-toggle='tooltip' title='".__("Task")."'></i>&nbsp;"; ?>
											<?php if($issue['issuetype'] == "Maintenance") echo "<i class='fa fa-minus-square fa-fw text-yellow' data-toggle='tooltip' title='".__("Maintenance")."'></i>&nbsp;"; ?>
											<?php if($issue['issuetype'] == "Bug") echo "<i class='fa fa-bug fa-fw text-red' data-toggle='tooltip' title='".__("Bug")."'></i>&nbsp;"; ?>
											<?php if($issue['issuetype'] == "Improvement") echo "<i class='fa fa-external-link fa-fw text-teal' data-toggle='tooltip' title='".__("Improvement")."'></i>&nbsp;"; ?>
											<?php if($issue['issuetype'] == "New Feature") echo "<i class='fa fa-plus-square fa-fw text-green' data-toggle='tooltip' title='".__("New Feature")."'></i>&nbsp;"; ?>
											<?php if($issue['issuetype'] == "Story") echo "<i class='fa fa-circle fa-fw text-red' data-toggle='tooltip' title='".__("Story")."'></i>&nbsp;"; ?>

											<?php if(in_array("editIssue",$perms)) { ?><a href="#" onClick='showM("?modal=issues/edit&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $issue['id']; ?>&section=allissues");return false'><?php echo $issue['name']; ?></a><?php } else echo $issue['name']; ?>
										</td>
										<td>
											<?php if($issue['adminid'] != 0) { ?>
												<img src="<?php echo getGravatar($liu['email'],"24"); ?>" class="img-circle" style="max-height:24px;"/>
												<?php echo getSingleValue("people","name",$issue['adminid']); ?>
											<?php } else  echo "<span class='text-muted'>".__("Nobody")."</span>"; ?>
										</td>

										<td>
											<?php if($issue['status'] == "To Do") echo "<span class='badge bg-green'>".__("To Do")."</span>"; ?>
											<?php if($issue['status'] == "In Progress") echo "<span class='badge bg-blue'>".__("In Progress")."</span>"; ?>
											<?php if($issue['status'] == "In Review") echo "<span class='badge bg-navy'>".__("In Review")."</span>"; ?>
											<?php if($issue['status'] == "Done") echo "<span class='badge bg-gray'>".__("Done")."</span>"; ?>
											<?php if($issue['status'] != "Done" && $issue['duedate'] < date('Y-m-d') && $issue['duedate'] != "") echo "<span class='badge bg-red'>".__("Overdue")."</span>"; ?>
										</td>
										<td><?php if($issue['duedate'] != "") echo dateDisplay($issue['duedate']); else echo "<span class='text-muted'>".__("None")."</span>"; ?></td>
										<td>
											<?php if($issue['milestoneid'] == 0) echo "<span class='text-muted'>".__("Unreleased")."</span>";
											else echo getSingleValue("milestones","name",$issue['milestoneid']); ?>

										</td>
										<td>
											<div class='pull-right'>
												<div class="btn-group">
													<?php if(in_array("editIssue",$perms)) { ?><a href="#" onClick='showM("?modal=issues/edit&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $issue['id']; ?>&section=allissues");return false' class='btn btn-flat btn-success btn-sm'><i class='fa fa-edit'></i></a><?php } ?>
													<?php if(in_array("deleteIssue",$perms)) { ?><a href="#" onClick='showM("?modal=issues/delete&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $issue['id']; ?>&section=allissues");return false' class='btn btn-flat btn-danger btn-sm'><i class='fa fa-trash-o'></i></a><?php } ?>
												</div>
											</div>
										</td>
									</tr>
								<?php } ?>
							</tbody>
						</table>
					</div>

				</div>
				<!-- /.tab-pane -->
			  <?php } ?>



			  <?php if(in_array("viewTickets",$perms)) { ?>
			  <div class="tab-pane <?php if ($section == "tickets") echo 'active'; ?>" id="tab-tickets">
				  <div class="table-responsive">
					<table id="dataTablesFullNoOrder" class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
								<th><?php _e('Ticket #'); ?></th>
								<th><?php _e('Subject'); ?></th>
								<th><?php _e('Submitter'); ?></th>
								<th><?php _e('Assigned To'); ?></th>

								<th><?php _e('Department'); ?></th>
								<th><?php _e('Status'); ?></th>
								<th><?php _e('Last Reply'); ?></th>
								<th class="text-right"></th>
                            </tr>
                        </thead>
						<tbody>
							<?php foreach ($tickets as $ticket) { ?>
								<tr>
									<td>
										<?php if($ticket['priority'] == "High") echo "<i class='fa fa-flag fa-fw text-red' data-toggle='tooltip' title='".__("High priority")."'></i>&nbsp;"; ?>
										<?php if($ticket['priority'] == "Normal") echo "<i class='fa fa-flag fa-fw text-yellow' data-toggle='tooltip' title='".__("Normal priority")."'></i>&nbsp;"; ?>
										<?php if($ticket['priority'] == "Low") echo "<i class='fa fa-flag fa-fw text-blue' data-toggle='tooltip' title='".__("Low priority")."'></i>&nbsp;"; ?>

										<?php if(in_array("manageTicket",$perms)) { ?><a href='?route=tickets/manage&id=<?php echo $ticket['id']; ?>'><?php echo $ticket['ticket']; ?></a><?php } else echo $ticket['ticket']; ?>
									</td>
									<td><?php if(in_array("manageTicket",$perms)) { ?><a href='?route=tickets/manage&id=<?php echo $ticket['id']; ?>'><?php echo $ticket['subject']; ?></a><?php } else echo $ticket['subject']; ?></td>
									<td>
										<?php
											if($ticket['userid'] != 0) echo getSingleValue("people","name",$ticket['userid']);
											else echo $ticket['email'];
										?>
									</td>
									<td>
										<?php if($ticket['adminid'] != 0) { ?>
											<img src="<?php echo getGravatar(getSingleValue("people","email",$ticket['adminid']),"24"); ?>" class="img-circle" style="max-height:24px;"/>
											<?php echo getSingleValue("people","name",$ticket['adminid']); ?>
										<?php } else  echo "<span class='text-muted'>".__("Nobody")."</span>"; ?>
									</td>

									<td>
										<?php
											if($ticket['departmentid'] != 0) echo getSingleValue("tickets_departments","name",$ticket['departmentid']);
											elseif($ticket['departmentid'] == 0) echo '<span class="text-muted">' . __('None') . '</span>';
											else echo '<span class="text-muted">' . __('None') . '</span>';
										?>
									</td>
									<td>
										<?php if($ticket['status'] == "Open") echo "<span class='badge bg-green'>".__("Open")."</span>"; ?>
										<?php if($ticket['status'] == "In Progress") echo "<span class='badge bg-navy'>".__("In Progress")."</span>"; ?>
										<?php if($ticket['status'] == "Answered") echo "<span class='badge bg-teal'>".__("Answered")."</span>"; ?>
										<?php if($ticket['status'] == "Reopened") echo "<span class='badge bg-orange'>".__("Reopened")."</span>"; ?>
										<?php if($ticket['status'] == "Closed") echo "<span class='badge bg-gray'>".__("Closed")."</span>"; ?>
									</td>
									<td><span style="display:none"><?php echo Ticket::lastReplyStamp($ticket['id']); ?></span><?php echo Ticket::lastReply($ticket['id']); ?></td>
									<td>
										<div class='pull-right'>
											<div class='btn-group'>
											  <?php if(in_array("manageTicket",$perms)) { ?><a href='?route=tickets/manage&id=<?php echo $ticket['id']; ?>' class='btn btn-flat btn-primary btn-sm'><i class='fa fa-eye'></i></a><?php } ?>
											  <?php if(in_array("editTicket",$perms)) { ?><a href="#" onClick='showM("index.php?modal=tickets/edit&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $ticket['id']; ?>&section=tickets");return false' class='btn btn-flat btn-success btn-sm'><i class='fa fa-edit'></i></a><?php } ?>
											  <?php if(in_array("deleteTicket",$perms)) { ?><a href="#" onClick='showM("index.php?modal=tickets/delete&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $ticket['id']; ?>&section=tickets");return false' class='btn btn-flat btn-danger btn-sm'><i class='fa fa-trash-o'></i></a><?php } ?>
											</div>
										</div>
									</td>
								</tr>
							<?php } ?>
						</tbody>
					</table>


				</div>
              </div>
              <!-- /.tab-pane -->
			  <?php } ?>


			  <?php } ?>
			  <?php if(in_array("viewComments",$perms)) { ?>
			  <div class="tab-pane <?php if ($section == "comments") echo 'active'; ?>" id="tab-comments">
				  <?php if(!empty($comments)) { ?>
					  <ul class="timeline">
						  <?php $lastdate = "0000-00-00"; foreach($comments as $comment) { ?>
						  <?php
							  $currentdate = date('Y-m-d',strtotime($comment['timestamp']));
							  if($currentdate != $lastdate) { ?><li class="time-label"><span class="bg-gray"><?php echo $currentdate; ?></span></li> <?php $lastdate = $currentdate; } ?>
						  <li>
							  <!-- timeline icon -->
							  <img src="<?php echo getGravatar(getSingleValue("people","email",$comment['peopleid']),"32"); ?>" class="img-circle timeline-image" style="height:32px;width:32px;"/>
							  <div class="timeline-item">
								  <span class="time"><i class="fa fa-clock-o"></i> <?php echo dateTimeDisplay($comment['timestamp']); ?></span>
								  <h3 class="timeline-header"><a href="#"><?php echo getSingleValue("people","name",$comment['peopleid']); ?></a> <?php echo smartDate(strtotime($comment['timestamp'])); ?></h3>

								  <div class="timeline-body"><?php echo $comment['comment']; ?></div>

								  <div class="timeline-footer">
  						          	<?php if(in_array("editComment",$perms)) { ?><a onClick='showM("index.php?modal=comments/edit&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $comment['id']; ?>&section=comments");return false' class="btn btn-success btn-xs"><?php _e('Edit'); ?></a><?php } ?>
  								  	<?php if(in_array("deleteComment",$perms)) { ?><a onClick='showM("index.php?modal=comments/delete&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $comment['id']; ?>&section=comments");return false' class="btn btn-danger btn-xs"><?php _e('Delete'); ?></a><?php } ?>
  						      	</div>
							  </div>
						  </li>
						  <?php } ?>
						  <li><i class="fa fa-clock-o bg-gray"></i></li>
					  </ul>
				  <?php } ?>
				  <?php if(empty($comments)) { ?>
					  <p><?php _e('No comments have been added.'); ?></p>
				  <?php } ?>
              </div>
              <!-- /.tab-pane -->
			  <?php } ?>
			  <?php if(in_array("viewFiles",$perms)) { ?>
			  <div class="tab-pane <?php if ($section == "files") echo 'active'; ?>" id="tab-files">
				   <?php if(empty($files)) { ?>
					   <div class="alert alert-info">
						  	<i class="icon fa fa-info"></i> <?php _e('No files have been uploaded yet!'); ?>
						</div>
				   <?php } ?>

				  <ul class="todo-list list-inline" id="fileslist">
					  <?php foreach($files as $file) { ?>
						  <li id="" style="width:260px;margin:10px;padding:8px;height:60px;">
							  	<div class="row">
									<div class="col-xs-2" style="text-align:center;vertical-align:middle;height:60px;">
										<i class="fa fa-<?php echo File::icon($file['file']); ?>" style="font-size:36px;padding-top:3px;"></i>
									</div>

									<div class="col-xs-10">
										<?php echo ttruncat($file['name'],30) . "<br><small>" . ttruncat($file['file'],35) . "</small>"; ?>

										<div class="pull-right">
											<?php if(in_array("viewFiles",$perms)) { ?><a href="#" onClick='showM("?modal=files/view&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $file['id']; ?>&section=files");return false' class='btn-right text-dark'><i class='fa fa-eye'></i></a>&nbsp;<?php } ?>
											<?php if(in_array("downloadFile",$perms)) { ?><a href="<?php echo "?qa=download&id=" . $file['id']; ?>" class='btn-right text-dark'><i class='fa fa-download'></i></a>&nbsp;<?php } ?>
											<?php if(in_array("deleteFile",$perms)) { ?><a href="#" onClick='showM("?modal=files/delete&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $file['id']; ?>&section=files");return false' class='btn-right text-red'><i class='fa fa-trash-o'></i></a><?php } ?>
										</div>

									</div>
								</div>


						  </li>
					  <?php } ?>
				  </ul>

              </div>
              <!-- /.tab-pane -->
			  <?php } ?>

			  <?php if(in_array("viewMilestones",$perms)) { ?>
              <div class="tab-pane <?php if ($section == "milestones") echo 'active'; ?>" id="tab-milestones">
				  <div class="table-responsive">
					  <table id="dataTablesFullDesc" class="table table-striped table-hover table-bordered">
						  <thead>
							  <tr>
								  <th><?php _e('ID'); ?></th>
								  <th><?php _e('Name'); ?></th>
								  <th><?php _e('Due Date'); ?></th>
								  <th class="text-right"></th>
							  </tr>
						  </thead>
						  <tbody>
							  <?php foreach ($milestones as $milestone) { ?>
								  <tr>
									  <td><?php echo $milestone['id']; ?></td>
									  <td><?php echo $milestone['name']; ?></td>
									  <td><?php echo dateDisplay($milestone['duedate']); ?></td>
									  <td>
										  <div class='pull-right'>
											  <div class="btn-group">
												  <?php if(in_array("editMilestone",$perms)) { ?><a href='#' onClick='showM("?modal=milestones/edit&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $milestone['id']; ?>&section=milestones");return false' class='btn btn-flat btn-success btn-sm'><i class='fa fa-edit'></i></a><?php } ?>
												  <?php if(in_array("deleteMilestone",$perms)) { ?><a href='#' onClick='showM("?modal=milestones/delete&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $milestone['id']; ?>&section=milestones");return false' class='btn btn-flat btn-danger btn-sm'><i class='fa fa-trash-o'></i></a><?php } ?>
											  </div>
										  </div>
									  </td>
								  </tr>
							  <?php } ?>
						  </tbody>
					  </table>
				  </div>

              </div>
              <!-- /.tab-pane -->
			  <?php } ?>

			  <?php if(in_array("viewTime",$perms)) { ?>
				<div class="tab-pane <?php if ($section == "timelog") echo 'active'; ?>" id="tab-timelog">
				  <div class="table-responsive">
					  <table id="dataTablesFullDesc" class="table table-striped table-hover table-bordered">
						  <thead>
							  <tr>
								  <th><?php _e('ID'); ?></th>
								  <th><?php _e('Date & Time'); ?></th>
								  <th><?php _e('Duration'); ?></th>
								  <th><?php _e('Staff'); ?></th>
								  <th><?php _e('Asset'); ?></th>
								  <th><?php _e('Project'); ?></th>
								  <th><?php _e('Tagged Items'); ?></th>
								  <th><?php _e('Description'); ?></th>
								  <th class="text-right"></th>
							  </tr>
						  </thead>
						  <tbody>
							  <?php foreach ($timelog as $item) { ?>
								  <?php

									$tag_issues = unserialize($item['issues']);
									$tag_tickets = unserialize($item['tickets']);

									if(empty($tag_issues)) $tag_issues = [];
									if(empty($tag_tickets)) $tag_tickets = [];
								  ?>
								  <tr>
									  <td><?php echo $item['id']; ?></td>
									  <td><?php echo dateDisplay($item['date']); ?> <?php echo $item['start']; ?> <i class='fa fa-long-arrow-right'></i> <?php echo $item['end']; ?></td>
									  <td>
										  <?php echo secondsToTime(duration($item['date'], $item['start'], $item['end'])); ?>
									  </td>
									  <td>
										  <?php if($item['staffid'] != 0) { ?>
											  <img src="<?php echo getGravatar(getSingleValue("people","email",$item['staffid']),"24"); ?>" class="img-circle" style="max-height:24px;"/>
											  <?php echo getSingleValue("people","name",$item['staffid']); ?>
										  <?php } else  echo "<span class='text-muted'>".__("Nobody")."</span>"; ?>
									  </td>

									  <td>
										<?php if($item['assetid'] != 0) { ?>
											<a href='<?php if(in_array("manageAsset",$perms)) { ?>?route=inventory/assets/manage&id=<?php echo $item['assetid']; ?><?php } else echo "#"; ?>'>
												<span class='label' style="background-color:#FFF;color:#001F3F;border:1px solid #001F3F;"><i class='fa fa-desktop fa-fw'></i> <?php echo getSingleValue("assets","tag",$item['assetid']); ?> </span>
											</a>
										<?php } ?>
									  </td>

									  <td>
										   <?php if($item['projectid'] != 0) { ?>
												<a href='<?php if(in_array("manageProject",$perms)) { ?>?route=projects/manage&id=<?php echo $item['projectid']; ?><?php } else echo "#"; ?>'>
													<span class='label' style="background-color:#FFF;color:#ff851b;border:1px solid #ff851b;"><i class='fa fa-rocket fa-fw'></i> <?php echo getSingleValue("projects","tag",$item['projectid']); ?> </span>
												</a>
											<?php } ?>
									  </td>

									  <td>
										  <?php foreach($tag_issues as $tag_issue) { ?>
											<span class='badge bg-teal' ><i class='fa fa-tasks fa-fw'></i> <?php echo getSingleValue("issues", "name", $tag_issue); ?> </span>
										  <?php } ?>
										  <?php foreach($tag_tickets as $tag_ticket) { ?>
											<span class='badge bg-purple' ><i class='fa fa-ticket fa-fw'></i> <?php echo getSingleValue("tickets", "ticket", $tag_ticket); ?> <?php echo getSingleValue("tickets", "subject", $tag_ticket); ?> </span>
										  <?php } ?>
									  </td>

									  <td><?php echo $item['description']; ?></td>
									  <td>
										  <div class='pull-right'>
											  <div class="btn-group">
												  <?php if(in_array("editTime",$perms)) { ?><a href='#' onClick='showM("?modal=time/edit&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $item['id']; ?>&section=timelog");return false' class='btn btn-flat btn-success btn-sm'><i class='fa fa-edit'></i></a><?php } ?>
												  <?php if(in_array("deleteTime",$perms)) { ?><a href='#' onClick='showM("?modal=time/delete&reroute=projects/manage&routeid=<?php echo $project['id']; ?>&id=<?php echo $item['id']; ?>&section=timelog");return false' class='btn btn-flat btn-danger btn-sm'><i class='fa fa-trash-o'></i></a><?php } ?>
											  </div>
										  </div>
									  </td>
								  </tr>
							  <?php } ?>
						  </tbody>
					  </table>
				  </div>

				</div>
				<!-- /.tab-pane -->
			  <?php } ?>

			  <?php if(in_array("manageProjectNotes",$perms)) { ?>
              <div class="tab-pane <?php if ($section == "notes") echo 'active'; ?>" id="tab-notes">
				  <form role="form" method="post">
					  <div class="form-group">
				          <textarea class="form-control summernoteLarge" name="notes"><?php echo $project['notes']; ?></textarea>
				      </div>
					  <input type="hidden" name="action" value="saveProjectNotes">
					  <input type="hidden" name="id" value="<?php echo $project['id']; ?>">
					  <input type="hidden" name="route" value="projects/manage">
					  <input type="hidden" name="routeid" value="<?php echo $project['id']; ?>">
					  <input type="hidden" name="section" value="notes">

					  <div class="pull-right"><button type="submit" class="btn btn-success"><i class="fa fa-save"></i> <?php _e('Save'); ?></button></div>
					  <div style="clear:both"></div>
				  </form>
              </div>
              <!-- /.tab-pane -->
			  <?php } ?>



            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
		</div>
	</section><!-- /.content -->
</aside><!-- /.right-side -->
